n8n-workflows/email-workflow.json
{
  "name": "AI Agent - Email Sender",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-email-trigger",
      "name": "Webhook - Email Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "ai-agent-email"
    },
    {
      "parameters": {
        "operation": "send",
        "fromEmail": "={{ $json.from || 'noreply@sparkmore.ch' }}",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject || 'Message from AI Agent' }}",
        "emailType": "text",
        "message": "={{ $json.body || $json.message }}",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "send-email-node",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [500, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP account"
        }
      },
      "notes": "Configure SMTP credentials in n8n settings"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.success }}",
              "operation": "equals",
              "value2": "true"
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"Email sent successfully\",\n  \"to\": $json.to,\n  \"timestamp\": new Date().toISOString()\n} }}"
      },
      "id": "response-success",
      "name": "Response - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 500,
        "responseBody": "={{ {\n  \"success\": false,\n  \"message\": \"Failed to send email\",\n  \"error\": $json.error || 'Unknown error',\n  \"timestamp\": new Date().toISOString()\n} }}"
      },
      "id": "response-error",
      "name": "Response - Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 400]
    }
  ],
  "connections": {
    "Webhook - Email Trigger": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Response - Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response - Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "AI Agent",
      "id": "ai-agent"
    },
    {
      "name": "Email",
      "id": "email"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "sparkmore-ai-agent"
  },
  "pinData": {},
  "versionId": "1.0.0"
}

